name: Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests with coverage
        run: |
          flutter test --coverage
          genhtml coverage/lcov.info -o coverage/html

      - name: Archive test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: coverage/html
          retention-days: 5

      - name: Bump Up version
        id: version
        run: |
          sh ./version.sh bump_version ./pubspec.yaml
          new_version=$(sh ./version.sh get_full_version ./pubspec.yaml)
          echo "NEW_VERSION=$new_version" >> $GITHUB_ENV

      - name: Commit and Tag New Version
        run: |
          git commit -am "Bump version to ${{ env.NEW_VERSION }}"
          git tag -a "${{ env.NEW_VERSION }}" -m "Release version ${{ env.NEW_VERSION }}"
          git push origin --tags
          git push origin HEAD

      - name: Merge to Develop and Push
        if: github.ref != 'refs/heads/develop'
        run: |
          git checkout develop
          git merge ${{ github.ref_name }} --no-ff -m "Merge ${{ github.ref_name }} into develop"
          git push origin develop