name: Deploy Web

on:
  workflow_dispatch:

jobs:
  web_deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests with coverage
        run: |
          flutter test --coverage
          genhtml coverage/lcov.info -o coverage/html

      - name: Archive test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: coverage/html
          retention-days: 5

      - name: Deploy Web
        env:
          FLAGS_SERVER_SSH_HOST: ${{ secrets.FLAGS_SERVER_SSH_HOST }}
          FLAGS_SERVER_SSH_USERNAME: ${{ secrets.FLAGS_SERVER_SSH_USERNAME }}
          FLAGS_SERVER_SSH_PASSWORD: ${{ secrets.FLAGS_SERVER_SSH_PASSWORD }}
          FLAGS_SERVER_TARGET_PATH: ${{ secrets.FLAGS_SERVER_TARGET_PATH }}
        run: |
          flutter build web --release && \
          sshpass -p "$FLAGS_SERVER_SSH_PASSWORD" rsync -avz -e "ssh -o StrictHostKeyChecking=no" build/web/ $FLAGS_SERVER_SSH_USERNAME@$FLAGS_SERVER_SSH_HOST:$FLAGS_SERVER_TARGET_PATH