name: Deploy iOS

on:
  workflow_dispatch:

jobs:
  ios_deploy:
    runs-on: self-hosted
    env:
      FASTLANE_APPLE_ID: ${{ secrets.FASTLANE_APPLE_ID }}
      FASTLANE_USER: ${{ secrets.FASTLANE_USER }}
      IOS_PACKAGE_NAME: ${{ secrets.IOS_PACKAGE_NAME }}
      IOS_TEAM_ID: ${{ secrets.IOS_TEAM_ID }}
      FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests with coverage
        run: |
          flutter test --coverage
          genhtml coverage/lcov.info -o coverage/html

      - name: Archive test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: coverage/html
          retention-days: 5

      - name: Deploy iOS
        run: |
          cd ios
          bundle install
          bundle exec fastlane beta